.fc-button {
    color: #fff;
    background-color: #65C8D0;
    border-color: #65C8D0;
}

.fc-button-primary {
    color: #fff !important;
    background-color: #65C8D0 !important;
    border-color: #65C8D0 !important;
}

.fc-h-event {
    background-color: #65C8D0;
    border: 1px solid #65C8D0;
    border-radius: 10px;
    margin: 1px;
}

.react-calendar__tile--active { 
    background: #65C8D0 !important;
    border-radius: 50px;
}