.fw-bold {
    font-weight: 700!important;
}

/* a {
    color: #212529;
}

a:hover {
    color: #212529;
} */

.h1, h1 {
    font-size: 2.5rem;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}